.sidebar {
    width: 300px;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 7px;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar__navigation {
    background-color: var(--bgc-black);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar__navigation .logo {
    background-color: var(--bgc-black);
    border-radius: 8px;
    display: flex;
}

.sidebar__navigation .logo img {
    width: 80px;
}

.sidebar nav ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar nav ul li a {
    color: var(--font-color-grey);
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    gap: 15px;
}

.container-library {
    background-color: var(--bgc-black);
    border-radius: 8px;
    padding: 20px;
    color: var(--font-color-grey);
    font-size: 14px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}

.container-library .container-library__content {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-library .library__button {
    background-color: transparent;
    color: var(--font-color-grey);
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
}

.container-library .library__button svg {
   width: 30px;
   fill: var(--font-color-grey);
}

.container-library .fa-plus {
    font-size: 20px;
}

.section-playlist, .section-podcast {
    background-color: #242424;
    padding: 15px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.section-playlist .section-playlist__content, .section-podcast .section-podcast__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section-playlist__content .text, .section-podcast__content .text  {
    color: var(--white);
}

.section-playlist__content .title, .section-podcast__content .title {
    font-weight: 700;
}

.section-playlist__content .subtitle, .section-podcast__content .subtitle {
    font-weight: 500;
    font-size: 12px;
}

.section-playlist__content .section-playlist__button, .section-podcast__content .section-podcast__button {
    padding: 10px 15px;
}

.sidebar .cookies {
    margin: 10px 0;
}

.sidebar .cookies a {
    color: var(--font-color-grey);
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
}

.sidebar .cookies a:hover {
    text-decoration: underline;
}

.languages .languages__button {
    width: fit-content;
    background-color: transparent;
    border: 1px solid #878787;
    color: var(--white);
    font-weight: bold;
    padding: 10px;
    border-radius: 20px;
    align-items: center;
}

.languages .languages__button span {
    font-size: 13px;
}

.footer-subscribe {
    width: 100%;
    box-sizing: border-box;
    background-image: linear-gradient(90deg,#af2896,#509bf5);
    padding: 15px 20px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-subscribe .footer-subscribe__content {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.footer-subscribe .footer-subscribe__content h4 {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

.footer-subscribe .footer-subscribe__content p {
    font-size: 14px;
    font-weight: 500;
}
