:root {
    --font-dm-sans: "DM Sans", sans-serif;
    --font-color-grey: #b3b3b3;
    --bgc-black: #121212;
    --bgc-header-search: #242424;
    --bg-icon: #131313;
    --bg-arrow-color: rgba(0,0,07);
    --white: #ffffff;
    --black: #000000;
}